.projects-section {
  padding: 40px;
}

.projects-section .my-projects-div {
  padding: 60px 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects-section .my-projects-div h1 {
  color: var(--text-h);
  font-size: 3rem;
}

.projects-section .my-projects-div p {
  width: 60%;
}

.toggles-div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.toggles-div button {
  padding: 15px;
  font-weight: 400;
  font-size: 1.2rem;
  outline: 1px solid var(--accent-border);
  transition: all 0.2s linear;
  color: var(--text-h);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
}

.toggles-div button:active {
  background-color: var(--accent);
  border-color: var(--accent-border);
}

.toggles-div button:hover {
  background-color: var(--accent-bg);
  border-color: var(--accent);
  color: var(--accent);
  outline: 1px solid var(--accent);
}

.toggles-div button:focus {
  background-color: var(--accent-border);
  border-color: var(--accent-border);
}

.all-projects-div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.all-projects-div .project-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.all-projects-div .project-card {
  padding: 40px;
  /* border: 1px solid var(--accent-border); */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.all-projects-div .project-card > div,
img {
  text-align: start;
}

/* except the projectheader div */
.all-projects-div .project-card > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* gap: 10px; */
}
.all-projects-div .project-header-div {
  gap: 30px;
  width: 100%;
}

.all-projects-div li {
  list-style-position: inside;
}

.all-projects-div .project-h3-div {
  gap: 10px;
}
.all-projects-div .project-card div h2 {
  color: var(--text-h);
}

.all-projects-div .project-card div h3 {
  color: var(--text-h);
}
