.featured-projects-section {
  margin-top: 40px;
  border-bottom: 1px solid var(--border);
}

.featured-projects-section > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  padding: 40px 40px;
  gap: 40px;
}

.featured-projects-section h2 {
  justify-self: center;
  grid-column: 1 / -1;
}

.featured-projects-section div.single-project-div {
  outline: 1px solid var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  gap: 20px;
  text-align: start;
  /* transition: all 0.2s linear; */
}

.featured-projects-section h3 {
  text-align: initial;
  color: var(--accent);
}

.featured-projects-section .tech-chip {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.featured-projects-section span {
  padding: 1px;
  outline: 3px solid var(--accent-border);
  background-color: var(--accent-border);
  border-radius: 4px;
  color: var(--text-h);
}

.featured-projects-section a {
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
  -webkit-text-stroke: 1px transparent;
  /* transition: all 0.2s linear; */
  width: fit-content;
}

.gh-icon {
  max-width: 50px;
}
